/* {
    box-sizing: border-box;
}*/

html {
    font-family: Verdana,Arial,sans-serif;
}


.item1 { 
    grid-area: header;
    background-color: #5e9dd2;
}
.item2 { 
    grid-area: menu;
    background-color: #FFFFFF;
    width: 150px;
    margin-left: 10%;
    height: 300px;
}

.item3{
    grid-area: main;
    background-color: #FFFFFF;
    width: 550px;
    height: 300px;
}

.item4 { 
    grid-area: right;
    background-color: #FFFFFF;
    margin-right: 30%;
}
.item5 { 
    grid-area: footer;
    text-align: center;
    background-color: #bccdea;
    padding: 3px;
    width: 550px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 5px;
  background-color: #d9e6f7;
}

.grid-container > div {
  text-align: left;
  padding: 0 20px;
  font-size: 20px;
}

.logohome {
    height: 25px;
    margin-left: 12%;
}

nav li{
    display: inline;
    margin-left: 15px;
    vertical-align: middle;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 10px;
    vertical-align: middle;
}

nav a:hover{
    text-decoration: underline;
}

.logout {
    
    margin-left: 400px;
}

.profilepic {
    width: 150px;
    height: 150px;
}

.menu {
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}

.welcome{
    font-size: 30px;
}

nav p{
    display: inline;
    font-size: 10px;
}

.centertext{
    font-size: 12px;
    margin-top: 30px;
}

strong {
    font-weight: bold;
    font-size: 13px;
}

.friends {
    margin-bottom: 100px;
}

.communities {
    margin-bottom: 100px;;
}

/*footer{
    text-align: center;
    display: inline-block;
    background-color: #bccdea;
    width: 65%;
    margin-left: ;
    padding: 3px;
}*/

.copyright {
    font-size: 10px;
}

