*/* {
    box-sizing: border-box;
}

html {
    font-family: Verdana,Arial,sans-serif;
}*/


.item1 { grid-area: header; }
.item2 { 
    grid-area: menu;
    background-color: #FFFFFF;
}
.item3 { 
    grid-area: main;
    background-color: #FFFFFF;
}
.item4 { 
    grid-area: right;
    background-color: #FFFFFF;
}
.item5 { 
    grid-area: footer;
    text-align: center;
    display: inline-block;
    background-color: #bccdea;
    padding: 3px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  padding: 10px;
  background-color: #d9e6f7;
}

.grid-container > div {
  text-align: left;
  padding: 0 20px;
  font-size: 20px;
}

header {
    background-color: #5e9dd2;
}

.logohome {
    height: 25px;
    margin-left: 12%;
}

nav li{
    display: inline;
    margin-left: 15px;
    vertical-align: middle;
}

nav a{
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

/*footer{
    text-align: center;
    display: inline-block;
    background-color: #bccdea;
    width: 65%;
    margin-left: ;
    padding: 3px;*/
}

.copyright {
    font-size: 10px;
}

/*body {
    font-size: 12px;
}



.caixa{
   
}

.logout {
    
    margin-left: 400px;
}

